/* Colors list */

:root {
    --black: rgba(8, 8, 8, 1);
    --white: rgba(240, 241, 242, 1);
    --purple: rgba(192, 72, 227, 1);
    --purple2: rgba(98, 45, 113, 1);
    --green: rgba(25, 155, 30, 1);
    --yellow: rgba(232, 194, 82, 1);
    --orange: rgba(255, 140, 0, 1);
    --red: rgba(255, 0, 0, 1);
}

body {
    background-color: var(--black);
    color: var(--white);
    position: relative;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: medium;
    margin: 0 0;
}

/* Header */

header {
    display: flex;
    justify-content: flex-start;
}

header img {
    height: 15vh;
    margin-top: 10px;
    max-width: 50%;
}

header h1 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 900;
}

.uppercase-title {
    text-transform: uppercase;
}

header h2 {
    font-size: 12px;
    padding-top: 3vh;
}

/* Website navigation */

nav {
    margin-top: 1vh;
    text-align: center;
}

nav a {
    font-weight: 700;
    color: var(--white);
    padding: 0 4vw;
    text-decoration: none;
    font-size: 4vh;
}

.link-description {
    display: none;
}

.active {
    color: var(--yellow);
}

/* Main body styling */

.article-container {
    display: flex;
    margin: 0 auto;
}

#article-spacing {
    text-align: justify;
}

article {
    margin-bottom: 30vh;
    width: 95%;
    margin: 0 auto;
}

.license-disclaimer, .license-disclaimer a {
    font-style: italic;
    color: var(--white);
    text-align: center;
}

/* Large image styling */

.image-position {
    width: 90%;
    margin: 0 5%;
    border-radius: 20%;
    padding: 5px;
}

/* Main content, visual element styling - entity claws */

.quote-sign {
    float: left;
}

/* h1-h6 styling within the main body */

.title {
    color: var(--yellow);
    font-size: 24px;
    border-bottom: solid;
}

.subtitle {
    color: var(--green);
    font-size: 22px;
    border-bottom: solid;
}

.subtitle2 {
    color: var(--purple);
    font-size: 20px;
    border-bottom: solid;
}

.perk-title {
    font-size: 20px;
    color: var(--yellow);
    text-align: center;
}

/* Perk description and in-text styling */

.perk-level-1,
.perk-level-2,
.perk-level-3,
.orange-text,
.red-text {
    font-weight: 700;
}

.perk-level-1 {
    color: var(--yellow);
}

.perk-level-2 {
    color: var(--green);
}

.perk-level-3 {
    color: var(--purple);
}

.orange-text {
    color: var(--orange);
}

.red-text {
    color: var(--red);
}

/* Menu styling */

.menu {
    width: 90%;
}

.menu-list {
    display: inline;
    margin: 0 10px 10px 10px;
    white-space: nowrap;
    line-height: 24px;
}

.menu-list a {
    color: var(--white);
}

li {
    list-style: none;
}

/* Character text and visual content styling */

.character-layout {
    margin: 0 auto 10px;
}

.character-image {
    margin: 15px auto;
}

.character-image-exception {
    margin: 0 auto;
    max-width: 95%;
    margin-bottom: 15px;
}

/* Character perk styling to ensure mobile/website site displays accordingly */

.perk-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.perk-layout {
    width: 90%;
}

.totem-section {
    color: var(--purple);
    font-weight: 700;
    margin-left: 5px;
}

/* Character lore styling to ensure mobile/website site displays accordingly */

.lore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Iframe styling, used within Streaming page */

iframe {
    width: 99%;
    aspect-ratio: 16 / 9;
    margin: 5px auto;
}

/* Subscription form styling */

fieldset {
    margin-bottom: 16px;
    border-color: var(--yellow);
}

legend {
    color: var(--yellow);
}

label {
    display: block;
    margin-top: 10px;
}

label,
input,
select {
    margin-left: 15px;
}

#submit-button {
    display: block; 
    margin-top: 15px;
}

/* Back to top navigation to ensure good experience, mainly for mobile users */

#bottom-navigation {
    margin-bottom: 10px;
}

#bottom-navigation > a {
    color: var(--yellow);
}

/* Footer */

footer {
    background-color: var(--purple2);
    position: relative;
    bottom: 0;
    width: 100%;
    color: var(--white);
    font-family: "Roboto", "Montserrat", sans-serif;    
}

table {
    width: 80%;
    margin: 0 auto;
    table-layout: fixed;
}

th,
td {
    width: auto;
    text-align: center;
    padding-top: 5px;
    font-size: 10px;
}

td img {
    width: 60px;
}

footer h2 {
    margin: 0 0 5px 20px;
    font-size: 14px;
    font-weight: 900;
    padding-top: 5px;
}

footer a {
    color: var(--white);
    font-size: 12px;
}

.footer-image {
    width: 50px;
}

#footer-disclaimer {
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 2px;
}

/* Footer image compensation due to image-to-background ratio, ensuring uniformity */

.footer-image-compensate {
    width: 80px;
}

/* Media query for screens wider than 449px */

@media screen and (min-width: 450px) {
    
    /* Header */
    header h1 {
        font-size: 32px;
    }

    header img {
        margin-top: 18px;
    }
}

/* Media query for screens wider than 499px */

@media screen and (min-width: 500px) {

    /* Header */

        header img {
        height: 20vh;
    }
}

/* Media query for screens wider than 699px */

@media screen and (min-width: 700px) {

    /* Header */
  
    header h1 {
        font-size: 40px;
        margin-top: 20px;
    }

    header h2 {
        font-size: 16px;
        padding-top: 4vh;
    }
}

/* Media query for screens wider than 999px */

@media screen and (min-width: 1000px) {

    /* Header */

    header h1 {
        font-size: 50px;
        margin-top: 15px
    }

    /* Website navigation styling */

    nav a:hover {
        color: var(--yellow);
    }

    /* Large image styling */

    .image-position {
        width: 70%;
        margin: 0 15%;
        border-radius: 20%;
        padding: 5px;
    }

    /* h1-h6 styling within the main body */

    .perk-title {
        width: 15%;
        margin: 0 auto;
    }

    /* Character main body styling to ensure mobile/website site displays accordingly */

    .perk-image-margin {
        margin: 0 auto;
    }

    .perk-layout {
        width: 50%;
        border-bottom: solid var(--yellow);
    }

    .character-layout {
        width: 60%;
        margin: 0 auto 10px;
    }
}

/* Media query for screens wider than 1099px */

@media screen and (min-width: 1100px) {

    /* Header */
    header h1 {
        margin-top: 20px;
    }

    /* Website navigation */

    nav a {
        font-size: 18px;
        color: var(--white);
        border-style: solid;
        border-color: var(--white);
        border-top-style: none;
        border-right-style: none;
        border-width: 1px;

    }

    .link-description {
        display: inline-block;
        padding-left: 8px;
    }

    #page-display-container {
        display: flex;
        justify-content: flex-start;
    }

    /* Menu */

    .menu {
        width: 20%;
    }

    .menu-list {
        margin: 15px auto;
        display: block;
    }

    /* Main body styling */

    #desktop-main-body {
        width: 80%;
    }

    /* Form styling */

    #show-subscribe-content {
        width: 70%;
        padding-left: 15%;
    }

    /* Character visual material representation */

    .lore-image {
        margin-right: 15%;
    }
}

/* Media query for screens wider than 1199px */

@media screen and (min-width: 1200px) {

    /* Character visual material representation */

    .character-image {
        margin-right: 15%;
    }

    /* Iframe styling */

    iframe {
        width: 45%;
    }

    .iframe-flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Form styling */

    #show-subscribe-content {
        width: 60%;
        padding-left: 20%;
    }
}

/* Media query for screens wider than 2499px */

@media screen and (min-width: 2500px) {

    /* Menu */

    .menu {
        width: 15%;
    }

    /* Character main body styling to ensure mobile/website site displays accordingly */

    .perk-layout {
        width: 40%;
    }

    /* Form styling */

    #show-subscribe-content {
        width: 50%;
        padding-left: 25%;
    }
}