:root {
    --black: rgba(8, 8, 8, 1);
    --white: rgba(240, 241, 242, 1);
    --purple: rgba(192, 72, 227, 1);
    --purple2: rgba(98, 45, 113, 1);
    --green: rgba(25, 155, 30, 1);
    --yellow: rgba(232, 194, 82, 1);
    --orange: rgba(255, 140, 0, 1);
    --red: rgba(255, 0, 0, 1);
}

body {
    background-color: var(--black);
    color: var(--white);
    position: relative;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: medium;
}

header {
    display: flex;
    justify-content: flex-start;
}

header img {
    height: 15vh;
    margin-top: 10px;
    max-width: 50%;
}

header h1 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 900;
}

.uppercase-title {
    text-transform: uppercase;
}

header h2 {
    font-size: 12px;
}

nav {
    margin-top: 1vh;
    text-align: center;
}

nav a {
    font-weight: 700;
    color: var(--white);
    padding: 0 4vw;
    text-decoration: none;
    font-size: 4vh;
}

.link-description {
    display: none;
}

.active {
    color: var(--yellow);
}

#show-home-content,
#show-subscribe-content {
    display: inline-block;
    margin-bottom: 20vh;
    padding-bottom: 1vh;
}

.title {
    color: var(--yellow);
    font-size: 24px;
    border-bottom: solid;
}

.subtitle {
    color: var(--green);
    font-size: 22px;
    border-bottom: solid;
}

.subtitle2 {
    color: var(--purple);
    font-size: 20px;
    border-bottom: solid;
}

.perk-title {
    font-size: 20px;
    color: var(--yellow);
    text-align: center;
}

.perk-level-1,
.perk-level-2,
.perk-level-3,
.orange-text,
.red-text {
    font-weight: 700;
}

.perk-level-1 {
    color: var(--yellow);
}

.perk-level-2 {
    color: var(--green);
}

.perk-level-3 {
    color: var(--purple);
}

.orange-text {
    color: var(--orange);
}

.red-text {
    color: var(--red);
}

#page-display-container {
    display: block;
}

.article-container {
    display: flex;
    margin: 0 auto;
}

.article-spacing {
    text-align: justify;
}

article {
    margin-bottom: 30vh;
    width: 95%;
    margin: 0 auto;
}

.image-position {
    width: 90%;
    margin: 0 5%;
    border-radius: 20%;
    padding: 5px;
}

.quote-sign {
    float: left;
}

.menu {
    width: 90%;
}

.menu-list {
    display: inline;
    margin: 0 10px 10px 10px;
    white-space: nowrap;
    line-height: 24px;
}


.menu-list a {
    color: var(--white);
}

li {
    list-style: none;
}

.character-layout {
    /*width: 85%;*/
    margin: 0 auto 10px;
}

.character-image {
    margin: 15px auto;
}

.character-image-exception {
    margin: 0 auto;
    max-width: 95%;
    margin-bottom: 15px;
}

.perk-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lore-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.perk-layout {
    width: 90%;
}

.totem-section {
    color: var(--purple);
    font-weight: 700;
    margin-left: 5px;
}

iframe {
    width: 99%;
    aspect-ratio: 16 / 9;
    margin: 5px auto;
    /*height needed to be reviewed - issue resolved by adding aspect ratio and clearing cache*/
}

#show-streaming-content {
    display: block;
    padding-bottom: 22vh;
    margin: 0 auto;
}

fieldset {
    margin-bottom: 16px;
    border-color: var(--yellow);
}

legend {
    color: var(--yellow);
}

label {
    display: block;
    margin-top: 10px;
}

label,
input,
select {
    margin-left: 15px;
}

#submit-button {
    display: block; 
    margin-top: 15px;
}

#bottom-navigation > a {
    color: var(--yellow);
    /*margin: auto auto 10px;*/
}

footer {
    background-color: var(--purple2);
    position: absolute;
    height: 20vh;
    /* troubleshooting footer - resolved by setting article as inline-block*/
    bottom: 0;
    width: 100%;
    color: var(--white);
}

table {
    width: 80%;
    margin: 0 auto;
    table-layout: fixed;
}

th,
td {
    width: auto;
    text-align: center;
    padding-top: 5px;
    font-size: 10px;
}

td img {
    width: 60px;
}

footer h2 {
    margin: 10px 0 5px 20px;
    font-size: 14px;
    font-weight: 900;
}

footer a {
    color: var(--white);
    font-size: 12px;
}

.footer-image {
    width: 50px;
}

.footer-image-compensate {
    width: 80px;
}

@media screen and (min-width: 333px) {
    header h2 {
    }
}

@media screen and (min-width: 450px) {
    header h1 {
        font-size: 32px;
    }

    header img {
        margin-top: 18px;
    }
}

@media screen and (min-width: 500px) {
        header img {
        height: 20vh;
    }

    article {
        width: 95%;
    }
}

@media screen and (min-width: 700px) {
    iframe {
        width: 70%;
    }

    header h1 {
        font-size: 40px;
        margin-top: 20px;
    }

    header h2 {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1000px) {
    header h1 {
        font-size: 50px;
        margin-top: 15px
    }

    nav a:hover {
        color: var(--yellow);
       /* text-decoration: underline;*/
    }

    .image-position {
        width: 70%;
        margin: 0 15%;
        border-radius: 20%;
        padding: 5px;
    }

    .perk-title {
        width: 15%;
        margin: 0 auto;
    }

    .perk-image-margin {
        margin: 0 auto;
    }

    .perk-layout {
        width: 50%;
        border-bottom: solid var(--yellow);
    }

    .character-layout {
        width: 60%;
        margin: 0 auto 10px;
    }
}

@media screen and (min-width: 1100px) {
    header h1 {
        margin-top: 20px;
    }

    header h2 {
        padding-top: 4vh;
    }

    nav a:hover {
        color: var(--yellow);
       /* text-decoration: underline;*/
    }

    nav a {
        font-size: 18px;
        color: var(--white);
        border-style: solid;
        border-color: var(--white);
        border-top-style: none;
        border-right-style: none;
        border-width: 1px;

    }

    .link-description {
        display: inline-block;
        padding-left: 8px;
    }

    #page-display-container {
        display: flex;
        justify-content: flex-start;
    }

    .menu {
        width: 20%;
    }

    .menu-list {
        margin: 15px auto;
        display: block;
    }

    #desktop-main-body {
        width: 80%;
    }

    .lore-image {
        margin-right: 15%;
    }

    #show-subscribe-content {
        width: 70%;
        padding-left: 15%;
    }

   /* footer {
        padding-bottom: 10px;
    }*/

}

@media screen and (min-width: 1200px) {
    .character-image {
        margin-right: 15%;
    }

    iframe {
        width: 45%;
    }

    .iframe-flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #show-subscribe-content {
        width: 60%;
        padding-left: 20%;
    }

}

@media screen and (min-width: 2500px) {
    .perk-layout {
        width: 40%;
    }

    .menu {
        width: 15%;
    }

    #show-subscribe-content {
        width: 50%;
        padding-left: 25%;
    }
}